<link href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/common/main.css" rel="stylesheet" type="text/css" />
<link href="../../css/common/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    if (!window.Smge) {
        window.Smge = {};
    }
    Smge.Config = {};
    Smge.Config.root = "/webapp/view/";
    Smge.Config.base="/"

</script>

<script type="text/javascript" src="../../lib/jquery/jquery-3.3.1.min.js"> </script>
<script type="text/javascript" src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"> </script>
<script type="text/javascript" src="../../lib/arttemplate/template.js"> </script>
<script type="text/javascript" src="../../lib/arttemplate/extensions/template-syntax.min.js"> </script>
<script type="text/javascript" src="../../lib/seajs/sea-debug.js"></script>
<script type="text/javascript" src="../../lib/seajs/seajs-text.js"></script>
<script type="text/javascript" src="../../js/common/common.js"> </script>
<script type="text/javascript" src="../../js/common/menuManager.js"> </script>
