<div class="zt-header">
    <div class="zt-header-logo">
        <a href="${pageContext.request.contextPath}/main.do"></a>
    </div>
    <div class="message-user-box">
        <a href="#" class="message-exit-box" onclick="Geoway.LoginReg.showLoginWin()"><i class="login"></i>登录</a>
        <a href="${pageContext.request.contextPath}/view/login/userReg.jsp" class="message-exit-box"><i class="register"></i>注册</a>
    </div>
    <div id="headerMap-nav" class="zt-header-nav">
    </div>
</div>

<script type="text/javascript">
    Smge.MenuManage.createHeaderMenu();
</script>

