[genuitec-file-id="wc2-1"], [genuitec-lp-path="/issp-viewer/src/main/webapp/css/common/main.css"], [genuitec-lp-enabled=false]
{
    /* for codelive */
}

/*
* 公用布局样式
* 主要包括头、导航、尾、用户样式等
*/
@charset "utf-8";
/* CSS Document */
html, body
{
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    color: #666;
    font: 12px/1.5em "微软雅黑";
    background: #f1f1f1;
}

h2, h3, h4, p, div, ul, li, button, input, span
{
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset, img
{
    border: 0;
}

input, button
{
    outline: none;
    border: 0;
    font-family: "微软雅黑";
}

a
{
    color: #666;
    text-decoration: none !important;
    font-family: "微软雅黑";
}

i, em
{
    font-style: normal;
    display: inline-block;
}

table
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

img
{
    vertical-align: middle;
}

input::-webkit-input-placeholder
{
    color: #999;
}

input:-moz-placeholder
{
    color: #999;
}

input::-moz-placeholder
{
    color: #999;
}

input:-ms-input-placeholder
{
    color: #999;
}

textarea::-webkit-input-placeholder
{
    color: #999;
}

textarea:-moz-placeholder
{
    color: #999;
}

textarea::-moz-placeholder
{
    color: #999;
}

textarea:-ms-input-placeholder
{
    color: #999;
}

button
{
    background: transparent;
    display: block;
    font-family: "微软雅黑";
    cursor: pointer;
}

.same-body-color
{
    background: #eeeeee;
}

.clear-out
{
    clear: both;
}

a, input, button
{
    outline: none;
}

::-moz-focus-inner
{
    border: 0px;
}

/*专题服务导航栏*/
.zt-header
{
    min-width: 1260px;
    background: url(../../images/common/dl-nav.png) repeat;
    height: 90px;
}

.zt-header-logo
{
    float: left;
    margin: 15px 0 0 40px;
}

    .zt-header-logo a
    {
        display: block;
        float: left;
        width: 340px;
        height: 54px;
        background: url('../../images/common/fb-logo.png') no-repeat;
    }

.message-user-box
{
    float: right;
    margin: 32px 5px 0 0;
    width: 184px;
    height: 26px;
}

    .message-user-box a
    {
        float: left;
        font-size: 16px;
        height: 26px;
        color: #fcfcfc;
        line-height: 26px;
        width: 80px;
    }

        .message-user-box a:first-child
        {
            width: 104px;
            border-right: solid 1px #fcfcfc;
        }

        .message-user-box a i
        {
            float: left;
            background: url('../../images/common/login-spr.png') no-repeat;
            background-position: 0px -22px;
            width: 20px;
            height: 20px;
            margin: 3px 10px 0 17px;
        }

        .message-user-box a:first-child i
        {
            margin: 3px 8px 0px 0px;
            background-position: 0 0;
        }

.zt-header-nav
{
    float: right;
    height: 90px;
    margin-right: 50px;
}

    .zt-header-nav ul
    {
        float: left;
        height: 35px;
        margin-top: 30px;
    }

    .zt-header-nav li
    {
        position: relative;
        float: left;
        height: 32px;
        padding: 0 10px;
    }

        .zt-header-nav li a
        {
            display: block;
            height: 32px;
            line-height: 32px;
            width: 100%;
            font-size: 16px; /* font-weight: bold; */
            color: #d9e4ee;
        }

            .zt-header-nav li a:hover
            {
                cursor: pointer;
            }

        .zt-header-nav li.last
        {
            background: none;
        }

        .zt-header-nav li.no-bg
        {
            background: none;
        }

        .zt-header-nav li.current
        {
            background: #2466cf;
        }
/*#4F62E3*/
/*****************************************************************/



.top
{
    width: 100%;
    height: 43px;
    position: relative;
    z-index: 8; /*  background:url(../images/site-bg.png)  no-repeat;background-size: 100% 100%;*/
    background: #313131;
}

.top-inner
{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    font: 14px/1.3 Tahoma, Geneva, sans-serif, "微软雅黑";
}

.top-timer
{
    float: left;
    width: 295px;
    height: 100%;
    line-height: 40px;
    color: #686868;
    font-size: 14px;
}

    .top-timer .greeting
    {
        padding-left: 5px;
    }

.top-search
{
    height: 100%;
    width: 690px;
    float: left;
}

.search-type-box
{
    width: 105px;
    height: 86%;
    float: left;
    border-right: 1px solid #333;
    line-height: 38px;
    background: url('../../images/arrow_down.png') 82px 16px no-repeat;
    cursor: pointer;
    margin-top: 3px;
    background-color: #1d1d1d;
}

    .search-type-box cite
    {
        line-height: 30px;
        font-style: normal;
        color: #898989;
        padding-left: 15px;
    }

    .search-type-box > ul
    {
        background: #1d1d1d;
        z-index: 2;
    }

        .search-type-box > ul > li > a
        {
            display: block;
            color: #bbb;
            line-height: 40px;
            padding-left: 15px;
            background: url('../../images/arrow_right.png') 6px 17px no-repeat #ffffff;
        }

            .search-type-box > ul > li > a:hover
            {
                background: #ececec url(../images/arrow_right.png) 6px 17px no-repeat;
            }

.search-input-text
{
    width: 537px;
    float: left;
    height: 37px;
    line-height: 27px;
    line-height: 30px\9;
    margin: 3px 0 0 0px;
    border-right: 1px solid #333333;
    color: #535353;
    padding-left: 15px;
    border-top: 1px solid #1d1d1d;
    border-left-style: none;
    border-bottom: 1px solid #1d1d1d;
    background-color: #1d1d1d;
}

.search-btn
{
    display: block;
    float: right;
    width: 48px;
    height: 86%;
    background: #242424 url('../../images/zoom_2.png') 12px 9px no-repeat;
    margin-top: 3px;
}

    .search-btn:hover
    {
        background: #474847 url(../images/zoom_2.png) 12px 9px no-repeat;
    }

#fts_keyword_delete
{
    cursor: pointer;
    background: url('../../images/search-close2.png') no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 610px;
    position: absolute;
    margin-top: 14px;
}


.top-login
{
    height: 100%;
    line-height: 40px;
    width: 295px;
    float: right;
    text-align: right;
}

    .top-login a
    {
        color: #898989;
        padding: 0px 17px;
        border-width: 0px 1px;
        border-style: solid;
        border-color: #898989;
    }

        .top-login a.regist
        {
            border-left-color: transparent;
            margin-left: -4px;
        }

        .top-login a:hover
        {
            color: #ffffff;
        }

.toppart
{
    height: 43px;
    width: 1280px;
    margin: 0 auto;
}

/*首页导航*/
.head-nav
{
    width: 100%;
    height: 79px;
}

.head-inner
{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    background: url("../../images/common/nav_bg1280.png") no-repeat;
}

    .head-inner .logo
    {
        display: block;
        float: left;
        margin-top: 20px;
    }

    .head-inner .nav-box
    {
        height: 100%;
        float: right;
    }

.nav-box
{
    position: relative;
}

    .nav-box > ul
    {
    }

        .nav-box > ul > li
        {
            float: left;
            cursor: pointer;
            text-align: center;
        }

.head-nav .nav-box > ul > li > a
{
    display: block;
    padding: 0 24px;
    height: 79px;
    line-height: 79px;
    font-size: 16px;
    font-family: "微软雅黑";
}

.head-nav .nav-box > ul > li.current > a
{
    background: #1c2b65;
    color: #ffffff;
}

.mouseDec
{
    display: none;
    width: 96px;
    height: 5px;
    position: absolute;
    bottom: 0px;
    *left: -1px;
    background: #1c2b65;
}

.nav-box > ul > li > a:hover
{ /*color:#ffc000;*/
}

.head-nav .home li a
{
    color: #6f6f6f;
}

.head-nav .home .current a
{
    color: #fff;
}

.head-nav .home li:hover a
{ /*color: #ffffff; background: #ffc000;*/
}

.head-nav .home .mouseDec
{
    background: #1c2b65;
    height: 3px;
}

.head-nav-level2
{
    overflow: hidden;
    position: relative;
    background: #ffffff;
    height: 80px;
    background: #19275e;
}

    .head-nav-level2 > img
    {
        width: 100%;
        height:;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        bottom: 0px;
    }
    /*.head-nav-level2 .nav-box > ul > li > a{ background:url(../images/bd.png) repeat-y; background-position:right;}*/
    .head-nav-level2 .head-inner .nav-box
    {
        border-left: none;
        border-right: none;
    }
    /*.head-nav-level2 .nav-box > ul > li{ border-right:none; height:79px;cursor: pointer;} */

    .head-nav-level2 .nav-box > ul > li
    {
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
    }

        .head-nav-level2 .nav-box > ul > li:hover a
        {
            color: #ffc000;
            cursor: pointer;
        }

        .head-nav-level2 .nav-box > ul > li > a
        {
            display: block;
            padding: 0 32px;
            height: 26px;
            font-size: 16px;
            color: #ffffff;
            border-right: 1px solid #8e9bb8;
        }

        .head-nav-level2 .nav-box > ul > li.current > a
        {
            color: #ffc000;
        }

    .head-nav-level2 .nav-box > ul
    {
        height: 26px;
        border-left: 1px solid #8e9bb8;
        margin-top: 28px;
    }

    .head-nav-level2 .mouseDec
    {
        background: #ffc000;
    }

.footer
{
    width: 100%;
    height: 60px;
    background: #232323;
    color: #8a8a8a;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
}

    .footer a
    {
        padding: 0 20px;
        color: #8a8a8a;
    }

        .footer a:hover
        {
            color: #ffffff;
        }

/*地图头部*/
#map-header
{
    font: 14px/1.3 Tahoma, Geneva, sans-serif, "微软雅黑";
}

.yw-site-nav
{
    width: 100%;
    height: 32px;
    background: url('../../images/zx-sitebg.png') no-repeat;
    background-size: 100% 100%;
}

.zx-site-nav
{
    display: none;
}

.yw-site-con
{
    width: 1280px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
}

.site-logo
{
    width: 255px;
    height: 48px;
    position: absolute;
    top: 11px;
    left: 10px;
}

.site-right
{
    color: #686868;
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 17px;
    margin-right: 20px;
}

    .site-right .date span
    {
        padding-right: 15px;
    }
    /*.site-right li{ float:left; height:12px; margin:0 15px;}
.site-right li.site-separate{ width:1px; height:12px; background:#ffffff; margin-top:9px;}*/
    .site-right li a
    {
        color: #ffffff;
        border-color: #ffffff;
    }

        .site-right li a:hover
        {
            color: #ffc000;
            cursor: pointer;
        }

.hn-header
{
    width: 1280px;
    height: 60px;
    margin: 0 auto;
}

    .hn-header h2
    {
        padding-left: 40px;
        width: 170px;
        height: 60px;
        line-height: 60px;
        font-size: 28px;
        display: inline-block;
    }

        .hn-header h2 a
        {
            margin-top: 16px;
            vertical-align: middle;
            display: inline-block;
        }

.header-nav
{
    float: right;
    width: 932px;
    padding-top: 13px;
}

    .header-nav li
    {
        float: left;
        width: 132px;
        height: 37px;
        line-height: 37px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

        .header-nav li.separate
        {
            width: 1px;
            background: #e6e6e6;
        }

        .header-nav li a
        {
            display: block; /*border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6;*/
            border-left: 1px solid #5a8a2b;
            border-right: 1px solid #5a8a2b;
            margin-left: -1px;
        }

            .header-nav li a:hover
            {
                color: #aec7ff;
            }

        .header-nav li.on a
        {
            color: #fff;
            background: #416f14;
        }

.zx-header
{
    width: 100%;
    height: 70px;
    position: relative;
    overflow: hidden;
    background: url('../../images/common/nav_bg1280.png');
}

    .zx-header > img
    {
        position: absolute;
        z-index: 2;
    }

.zx-header-text
{
    position: absolute;
    left: 50px;
    top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    z-index: 1000;
}

.zx-header-nav .moremenu
{
    margin-left: -5px;
}

.zx-header .top-login a
{
    padding: 0px 10px;
}

/*在线地图头部搜索框样式*/
.zx-search-wrap
{
    width: 400px;
    height: 43px;
    position: absolute;
    top: 15px;
    left: 320px;
    z-index: 100;
}

.search-box
{
    width: 90%;
    height: 40px;
    padding: 6px 0;
    background: #fff; /*border-radius:3px; box-shadow:0 0 3px 0 rgba(35,24,21,0.2);*/
    position: relative;
}

    .search-box .search-type
    {
        position: absolute;
        left: 0;
        top: 4px;
    }

        .search-box .search-type ul li
        {
            float: left;
            margin-top: 5px;
            cursor: pointer;
            border-right: 1px solid #0060D1;
            vertical-align: middle;
            height: 20px;
        }

        .search-box .search-type .addr
        {
            background: url('../../images/zx-position.png') center no-repeat;
            width: 48px;
            height: 23px;
        }

            .search-box .search-type .addr.on
            {
                background: url('../../images/common/zx-position-on.png') center no-repeat;
            }

        .search-box .search-type .car
        {
            background: url('../../images/common/zx-car.png') center no-repeat;
            width: 40px;
        }

            .search-box .search-type .car.on
            {
                background: url('../../images/common/zx-car-on.png') center no-repeat;
            }

    .search-box .search-input
    {
        position: absolute;
        left: 90px;
        right: 0;
    }

    .search-box input
    {
        color: #333;
        padding: 0 8px;
        border: none;
    }

    .search-box .addr-input input
    {
        width: 240px;
        height: 27px;
        background: transparent;
    }

    .search-box .addr-input .close
    {
        position: absolute;
        width: 15px;
        height: 15px;
        background: url('../../images/search-close2.png') no-repeat;
        right: 38px;
        top: 6px;
        cursor: pointer;
    }

    .search-box .car-input span
    {
        display: inline-block;
        float;
        left;
        vertical-align: middle;
    }

    .search-box .car-input input
    {
        width: 104px;
        height: 27px;
        background: transparent;
    }

    .search-box .car-input .switch-btn
    {
        background: url("../../images/common/switch-btn.png") no-repeat;
        cursor: pointer;
        height: 22px;
        width: 21px;
    }

    .search-box .search-icon
    {
        position: absolute;
        width: 22px;
        height: 22px;
        background: url('../../images/common/search-icon.png') center no-repeat;
        cursor: pointer;
        right: 12px;
        top: 2px;
        border-left: 1px solid #ececec;
    }


.zx-header-nav > ul
{
    height: 70px;
    line-height: 70px;
    position: absolute;
    left: 720px;
    z-index: 100;
}

    .zx-header-nav > ul > li
    {
        float: left;
        cursor: pointer;
    }

        .zx-header-nav > ul > li > a
        {
            display: block;
            padding: 0 16px;
            height: 20px;
            font-size: 16px;
            color: #fff;
            border-left: 1px solid #ffffff;
            line-height: 20px;
            margin-top: 26px;
        }

        .zx-header-nav > ul > li.current > a
        { /*background:#ffc000;*/
            color: #ffc000;
        }

.mouseDecMap
{
    display: none;
    width: 96px;
    height: 5px;
    position: absolute;
    bottom: 0px;
    *left: -1px;
    background: #2565cf;
}

.zx-header-nav > ul > li > a:hover
{
    color: #ffc000;
    cursor: pointer; /*background: #ffc000;*/
}

.nav-more
{
    position: absolute;
    z-index: 7000;
    top: 12px;
    background-color: #14285a;
    margin-top: 32px;
}

    .nav-more ul li
    {
        width: 100px;
        cursor: pointer;
        width: 105px;
        border-top: 1px solid #ffffff;
    }

    .nav-more ul
    {
        margin-top: 26px;
    }

    .nav-more > ul > li > a
    {
        margin: 18px auto;
        display: block;
        padding: 0 20px;
        height: 20px;
        font-size: 16px;
        color: #ffffff;
        line-height: 20px;
    }

        .nav-more > ul > li > a:hover
        {
            cursor: pointer;
            color: #ffc000;
        }

.wrapper
{
    width: 1280px;
    margin: 0 auto;
    min-height: 300px;
}

.table
{
    border-collapse: 0;
    border-spacing: 0;
    width: 100%;
}

    .table th
    {
        padding: 5px;
        background: #e5effb;
        border: 1px solid #ddd;
        text-align: left;
    }

    .table td
    {
        line-height: 20px;
        padding: 5px;
        border: 1px solid #ddd;
        word-break: break-all;
    }

/*侧栏菜单*/
.side
{
    float: left;
    width: 225px;
}

.side-nav
{
    background: #fff;
    width: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

    .side-nav h3
    {
        height: 46px;
        line-height: 46px;
        font-size: 16px;
        position: relative;
        border-bottom: 1px solid #eee;
        font-weight: 600;
    }

        .side-nav h3 a
        {
            padding: 0 30px;
            display: block;
            color: #000;
        }

            .side-nav h3 a:hover
            {
                color: #2466cf;
            }

            .side-nav h3 a.active
            {
                color: #ffffff;
                background: #2466cf;
            }

        .side-nav h3 b
        {
            display: block;
            width: 6px;
            height: 16px;
            position: absolute;
            left: 0px;
            top: 17px;
            background-color: #2565cf;
        }
    /*.nav-item ul{ display: block; border-bottom: 1px solid #eee;}
.side-nav li{ height: 36px; line-height: 36px;}
.side-nav li a{display: block; padding-left: 60px;font-size: 14px;color: #333;}
.side-nav li a:hover{ color: #478edd;}
.side-nav li a.active{ background: #f9fbff; font-weight: bolder; color: #478edd;}*/
    /*侧栏菜单 二级菜单*/
    .side-nav ul
    {
        background: #ffffff; /*f1f1f1*/
        width: 100%;
    }

        .side-nav ul li
        {
            height: 46px;
            line-height: 46px;
            font-size: 16px;
            position: relative;
            border-bottom: 1px solid #f1f1f1;
        }

            .side-nav ul li a
            {
                padding: 0 30px;
                display: block;
                color: #337ab7;
            }

                .side-nav ul li a.active
                {
                    color: #3a72d2;
                }

    .side-nav li a:hover
    {
        color: #3a72d2;
    }

    .side-nav ul li b
    {
        display: block;
        width: 6px;
        height: 16px;
        position: absolute;
        left: 0px;
        top: 17px;
        background-color: #2565cf;
    }

/*右侧面板*/
.content
{
    float: right;
    width: 1040px;
    padding: 10px 4px 20px 24px;
    background: #fff;
    min-height: 600px;
    color: #000;
    position: relative;
}

.con-mod
{
}

    .con-mod .mod-hd
    {
        height: 34px;
        line-height: 34px;
        border-bottom: 1px solid #ddd;
    }

        .con-mod .mod-hd h2
        {
            font-weight: bolder;
            font-size: 16px;
            color: #555;
            padding: 0 10px;
            display: inline-block;
            border-bottom: 1px solid #478edd;
            height: 34px;
            line-height: 34px;
            float: left;
        }

        .con-mod .mod-hd .more
        {
            float: right;
            margin-right: 5px;
            color: #3887be;
        }

    .con-mod .mod-bd
    {
        padding: 10px 0;
        overflow: hidden;
    }

.text-item p
{
    line-height: 20px;
    text-indent: 2.1em;
}

.content-wrap
{
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}

/*树形菜单*/
.tree-nav
{
    border: 1px solid #ddd;
    background: #fff;
}

    .tree-nav h3
    {
        height: 26px;
        line-height: 26px;
        padding-left: 30px;
        font-size: 14px;
        font-weight: bolder;
        color: #3c3c3c;
        cursor: pointer;
        position: relative;
    }

        .tree-nav h3:hover
        {
            color: #478edd;
        }

        .tree-nav h3 b
        {
            position: absolute;
            left: 10px;
            top: 7px;
            background: url(../../images/plus.png) no-repeat;
            display: block;
            width: 11px;
            height: 11px;
        }

        .tree-nav h3.on
        {
            color: #478edd;
        }

            .tree-nav h3.on b
            {
                background: url(../images/minus.png) no-repeat;
            }

    .tree-nav .nav-item
    {
        border-bottom: 1px solid #ddd;
    }

        .tree-nav .nav-item ul
        {
            position: relative; /*left: 15px;*/
            padding: 0 0 10px 15px;
            top: -6px;
            display: none;
        }

    .tree-nav li
    {
        position: relative;
        height: 25px;
        background: url(../images/tree-line.png) no-repeat; /*vertical-align: middle;*/
    }
        /*ie7 bug vertical-align: middle;*/
        .tree-nav li a
        {
            position: absolute;
            top: 15px;
            padding-left: 20px; /*display: block;*/
            color: #000;
        }
            /*position: absolute; top: 15px;  这种写法不能实现a的display:block;*/
            /*.tree-nav li a{ padding-top: 15px; padding-left: 20px; display: block; color: #666;}*/ /* padding-top: 15px;  这种写法能实现a的display:block;*/
            .tree-nav li a:hover
            {
                color: #478edd;
            }

            .tree-nav li a.active
            {
                font-weight: bolder;
                color: #478edd;
            }

/*筛选*/
.filter
{
    margin-bottom: 20px;
}

.filter-list
{
    padding-bottom: 10px;
    position: relative;
    color: #000;
    font-size: 14px;
    min-height: 80px;
}

.filter-item
{
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.filter-ptop
{
    padding-top: 15px;
}

.filter-tit
{
    float: left;
    width: 80px;
    margin-top: 3px;
    text-align: left;
}

.filter-con
{
    margin-left: 70px;
}

    .filter-con li
    {
        float: left;
        margin: 3px 20px 3px 0;
    }

    .filter-con a
    {
        color: #000;
    }

        .filter-con a:hover
        {
            text-decoration: underline;
        }

.filter-input
{
    float: left;
    width: 209px;
    height: 24px;
    background: #fff;
    border: 1px solid #ddd;
    color: #999;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 5px;
}

.filter-btn
{
    float: left;
    width: 60px;
    padding: 2px 5px;
    display: inline-block;
    margin-left: 5px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    text-align: center; /*font-size: 12px; line-height: 1.5;*/
    color: #606060;
}

    .filter-btn:hover
    {
        background: #f2f2f2;
        cursor: pointer;
    }

.show-more
{
    position: relative;
    bottom: 1px;
    width: 100px;
    margin: 0 auto;
    padding: 3px 0;
    border: 1px solid #ddd;
    border-top: 1px solid #f9fbff; /*background: #f9fbff; border: 1px solid #ddd; border-top: 0 none;*/
    text-align: center;
    cursor: pointer;
}

    .show-more i
    {
        position: relative;
        top: -1px;
        width: 12px;
        height: 12px;
        margin: 0 0 0 5px;
        display: inline-block;
        background: url(../../images/arrow-d-b.png) no-repeat;
        vertical-align: middle;
    }
    /*position: relative; top: -1px; 结合 vertical-align: middle; 一起使用*/
    .show-more:hover i
    {
        background: url(../../images/arrow-d-b-h1.png) no-repeat;
    }

.show-less
{
    position: relative;
    bottom: 1px;
    width: 100px;
    margin: 0 auto;
    padding: 3px 0;
    background: #f9fbff;
    border: 1px solid #ddd;
    border-top: 0 none;
    text-align: center;
    cursor: pointer;
}

    .show-less i
    {
        position: relative;
        top: 2px;
        width: 12px;
        height: 12px;
        margin: 0 0 0 5px;
        display: inline-block;
        background: url(../../images/arrow-d-b.png) no-repeat;
    }

    .show-less:hover i
    {
        background: url(../images/arrow-d-b-h.png) no-repeat;
    }


/*自动提示下拉框样式*/
.autocomplete-suggestions
{
    border: 1px solid #1d1d1d;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion
{
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected
{
    background: #f0f0f0;
}

.autocomplete-suggestions strong
{
    font-weight: normal;
    color: #3399ff;
}

.hide
{
    display: none;
}

dl
{
    margin: 0px;
}
