/*工具栏样式*/
/*右侧工具条*/
.user-toolbar{ margin: 10px 0; }
.toolbar-box{ position: fixed; background: #fff; height: 40px; top: 106px; right: 10px; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.toolbar-box div { float: left; }
.user-toolbar > li{ float: left; position: relative; border-left: solid 1px #cbcbcb; padding: 0 10px; height: 20px; line-height: 20px; font-size: 14px; color: #333; font-family: "微软雅黑"; }
.user-toolbar > li:first-child{ border:none; }
.user-toolbar > li > a{ display: block; height: 20px; line-height: 20px; }
.user-toolbar > li > a i{ float: left; margin-right: 8px; background: url(./../../images/home/sprites.png) no-repeat; }
.user-toolbar > li > a i.region{ background-position: -31px -375px; width: 20px; height: 22px; }
.user-toolbar > li > a i.exp-report{ background-position: 0px -399px; margin-top: 1px; width: 18px; height: 18px; }
.user-toolbar > li > a i.clear-screen{ background-position: -29px -399px; width: 20px; height: 20px; }
.user-toolbar > li > a i.fix{ background-position: 0px -421px; width: 20px; height: 20px; }
.user-toolbar > li > a i.indentify{  background-position: 0px -994px; margin-top: 1px; width: 20px; height: 20px; }
.user-toolbar > li > a i.edit.disabled{  background-position: 6px -936px; margin-top: 1px; width: 28px; height: 20px; }
.user-toolbar > li > a i.edit{  background-position: -22px -936px; margin-top: 1px; width: 28px; height: 20px; }
.user-toolbar > li > a i.pic-an{ background-position: -33px -421px; width: 17px; height: 16px; margin-top: 2px;}
.user-toolbar > li > a em{ float: none; font-weight: bold; height: 20px; line-height: 20px; font-size: 14px; color: #a4a4a4;}
.user-toolbar > li > a b.down-sj{ float: right; width: 17px; height: 9px; background: url(./../../images/home/sprites.png) no-repeat; background-position: -33px -487px; margin: 8px 0 0 8px;}
.choose-city-box{ position: absolute; font-family: "微软雅黑"; top: 44px; left: 0px; background: #fff; width: 495px; height: 190px; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.choose-city-box span.up-jt{ position: absolute; top: -12px; left: 88px; width: 24px; height: 12px; background: url(./../../images/home/up-jt.png) no-repeat; }
.choose-city-title{ margin: 0 15px; height: 54px; border-bottom: solid 1px #cbcbcb; padding-top: 12px; }
.choose-city-title div.user-mess-top span.user-mess-explain{ font-size: 16px; width: 84px; color: #4579c0; }
.choose-city-box button.close{ position: absolute; top: 18px; right: 30px; width: 18px; height: 18px; background: url(./../../images/home/sprites.png) no-repeat; background-position: -33px -296px;}
.city-cont-title{ height: 12px; line-height: 12px; padding-left: 15px;  color: #333; font-size: 12px; margin: 13px 0 20px 0;}
.single-city-cont { margin: 0 0 14px 15px; height: 12px;}
.single-city-cont ul.single-city-bar li{ float: left; height: 12px; margin-left: 28px; margin-bottom: 14px;}
.single-city-cont ul.single-city-bar li:first-child{ margin-left: 0px;}
.single-city-cont ul.single-city-bar li a{ display: block; height: 12px; line-height: 12px; font-size: 14px; color: #4579bf; }
.box-wapr{ overflow-y:auto;}

.pic-an-message{ position: absolute; width: 176px; height: 260px; background: #fff; right: 0px; top: 44px; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2); padding-bottom: 10px;}
.pic-an-message span.up-jt{ position: absolute; top: -12px; right: 25px; width: 24px; height: 12px; background: url(./../../images/home/up-jt.png) no-repeat;}
.pic-an-title{ padding: 0 12px; margin: 0 10px 12px 10px; height: 44px; line-height: 40px; font-size: 16px; color: #333333; border-bottom:solid 1px #cbcbcb; }
.pic-an-title button{ float: right; margin-top: 13px; width: 18px; height: 18px; background: url(./../../images/home/sprites.png) no-repeat; background-position: -33px -296px;}
.choose-sit-box{ margin:0 15px 15px 20px; height: 30px;}
.user-mess-top{ width: 100%; margin-bottom: 12px; float: none;}
.user-mess-top .select-box > input{ color: #4384db; background: #edf3fd url(./../../images/home/list-arrow1.png) no-repeat 92% center;}
.legend-box{ overflow-y: auto; width: 100%; padding-left: 20px; position: absolute; top: 99px; bottom: 0;}
.single-legend-box{ margin-bottom: 10px; height: 20px; line-height: 20px; font-size: 14px; font-family: "微软雅黑";}
.single-legend-box i{ float: left; width: 20px; height: 20px; margin-right: 10px; background: url(./../../images/home/legend.png) no-repeat;}
.single-legend-box i.color-b9d{ background-position: 0 0;}
.single-legend-box i.color-cfa{ background-position: 0 -22px;}
.single-legend-box i.color-laf{ background-position: 0 -44px;}
.single-legend-box i.color-bcf{ background-position: 0 -66px;}
.single-legend-box i.color-ffb{ background-position: 0 -88px;}
.user-mess-top .divselect-box .select-box > ul{ overflow: visible; }
.user-mess-top .select-box li{ border: 1px solid #ddd; }
.fix-bar-box{ position: absolute; top: 44px; right: 0px; display: none; width: 120px; background: #fff; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.fix-bar-box span.up-jt{ position: absolute; top: -12px; right: 25px; width: 24px; height: 12px; background: url(./../../images/home/up-jt.png) no-repeat;}
.fix-bar-box button{ width: 100%; height: 40px; text-align: left; font-size: 14px; color: #333; line-height: 40px; /*margin-bottom: 20px; */}
.fix-bar-box button.ranging {/* margin-top: 10px;*/ }
.fix-bar-box button i{ float: left; width: 20px; height: 20px; margin: 10px 15px 0 20px; position: relative; }
.fix-bar-box button i em{ display: inline-block; background: url(./../../images/home/sprites.png) no-repeat; position: absolute; margin: auto; top: 0; right: 0; left: 0; bottom: 0; }
.fix-bar-box button.ranging i em{ background-position: 0 -443px; width: 16px; height: 20px; }
.fix-bar-box button:hover { background: #4579c0; color: #fff;}
.fix-bar-box button.ranging:hover i em{ background-position: -34px -507px;}
.fix-bar-box button.surface i em{ background-position: -32px -443px; width: 18px; height: 18px;}
.fix-bar-box button.surface:hover i em{ background-position: -32px -539px;}
.fix-bar-box button.draw-point i em{ background-position: 0 -465px; width: 19px; height: 18px; }
.fix-bar-box button.draw-point:hover i em{ background-position: -31px -571px;}
.fix-bar-box button.multil i em{ background-position: -33px -465px; width: 17px; height: 20px; }
.fix-bar-box button.multil:hover i em{ background-position: -33px -603px; }
.fix-bar-box button.remover-clear-btn i em{ background-position: 0 -485px; width: 20px; height: 20px; }
.fix-bar-box button.remover-clear-btn:hover i em{ background-position: -30px -665px; }
.puple-box{display:none; position: fixed; font-family: "微软雅黑"; padding: 0 30px; width: 516px; height: 310px; top: 50%; left: 50%; margin-left: -258px; margin-top: -155px; background: #fff; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.puple-title-box{ margin-bottom: 10px; height: 60px; line-height: 60px; color: #333333; font-size: 16px; border-bottom: solid 1px #cbcbcb;}
.puple-title-box button{ float: right; margin-top: 24px; width: 18px; height: 18px; background: url(./../../images/home/sprites.png) no-repeat; background-position: -33px -296px;}
.user-mess-explain{ float: left; width: 140px; height: 30px; color: #4579c0; font-size: 14px; }
.up-file-input-box{ float: left; width: 100px;}
.user-input-box input.up-file-input{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #333; font-size: 12px; padding: 0 20px 0 15px;}
.txt-input { height: 30px; margin: 0 auto 12px; position: relative;}
.txt-input-title { float: left; height: 30px; line-height: 30px; width: 140px; text-align: left; color: #4579c0; font-size: 14px;}
.txt-input-cont{ font-size: 12px; font-family: "微软雅黑"; padding: 0 15px; float: left; width: 250px; height: 30px; line-height: 30px; border-radius: 5px; background: #edf3fd; margin-right: 16px;}	
.btn-data-choose{ width: 50px; text-align: center; height: 30px; line-height: 30px; border-radius: 5px; background: #4579c0; color: #fff; font-size: 14px; font-family: "微软雅黑";}
.type-box-add{ height: 40px;  }
.type-box-add span.user-mess-explain{ height: 40px; line-height: 40px; }
.type-box-add div.up-file-input-box{ height: 40px; line-height: 40px; width: 250px; }
.type-box-add div.divselect-box .select-box > input{ height: 40px; line-height: 40px; background: #edf3fd url(./../../images/home/list-arrow1.png) no-repeat 97% center;}
.pair-txt-input{ height: 40px;  margin: 0 auto 20px;}
.pair-text{ width: 140px; height: 40px; float: left; }
.pair-text span{ display: block; font-size: 12px; color: #4579c0; height: 12px; line-height: 12px; }
.pair-text span:first-child{ font-size: 14px; height: 14px; line-height: 14px; margin-bottom: 10px; margin-top: 1px;}
.pair-txt-input input{ height: 40px; line-height: 40px; }
.make-btn-box{ height: 30px; text-align: center; }
.in-btn-box{ display: inline-block; margin: 0 auto; height: 30px;}
.in-btn-box button{ width: 80px; text-align: center; background: #9dbff9; color: #4579c0; height: 30px; line-height: 30px; float: left; border-radius: 5px; margin-left: 30px;}
.in-btn-box button:first-child{ background: #4579c0; color: #fff; margin-left: 0px;}
.second-drow-bar > li > a{ padding-left: 24px; }
.third-drow-bar > li > a{ padding-left: 48px; }
.special-cont-text li span.disappear-margin{ padding-left: 0; }
.disappear-margin{ padding: 0px;}
.special-cont-text li span.on-active{ background: #457dc2; }
.special-cont-text li span.on-active i.stars{ background-position: -0px -333px; }
.special-cont-text li span.on-active span.checkbox{ background-position: 0 -316px;  }
.special-cont-text li span.on-active span.lv2-text{ color: #ffffff; }
.special-cont-text li span.on-active span.help{ background-position: -34px -128px;  }
.special-cont-text li span.on-active a span.help.active{ background-position: -34px -122px; }
.special-cont-text li span.on-active a{ border-bottom: none; }
.special-cont-text li span.on-active span.checkbox-active{ background-position: -35px -316px; }
.more-third-bar{ position: absolute; left: 364px; top: 146px; width: 220px; border-radius: 5px; background: #fff; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.more-third-bar span.left-jt { position: absolute; background: url(./../../images/home/left-jt.png) no-repeat; width: 10px; height: 19px; left: -10px; top: 12px;}
.more-four-bar{ position: absolute; left: 596px; top: 146px; width: 220px; border-radius: 5px; background: #fff; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.more-four-bar span.left-jt { position: absolute; background: url(./../../images/home/left-jt.png) no-repeat; width: 10px; height: 19px; left: -10px; top: 12px;}
.change-text{ width: 200px; overflow: hidden; float: left; height: 50px; line-height: 50px; white-space: nowrap; text-overflow: ellipsis;}
/**********************右侧图表************************/
.tab-pic-box{ position: fixed; padding: 0 6px; width: 62px; height: 120px; top: 55%; margin-top: -60px; right: 10px;  background: #fff; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2); }
.tab-pic-box .up-tab-pic,.down-tab-pic{ cursor: pointer; position: relative; height: 60px;}
.tab-pic-box .up-tab-pic i{ display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;  background: url(./../../images/home/sprites.png) no-repeat;}
.tab-pic-box .down-tab-pic i{ display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;  background: url(./../../images/home/sprites.png) no-repeat;}
.tab-pic-box .up-tab-pic { border-bottom: solid 1px #cbcbcb; }
.tab-pic-box .up-tab-pic i.up{ width: 31px; height: 30px;  background-position: 0 -507px; }
.down-tab-pic i.down{ width: 33px; height: 30px; background-position: 0 -539px;}
.down-tab-box{ position: absolute; padding: 0 15px 0 26px; font-family: "微软雅黑"; width: 440px; height: 300px; top: 0; left: -458px; border-radius: 5px; background: #fff; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.tab-right-jt{ display: block; position: absolute; width: 10px; height: 18px; background: url(./../../images/home/right-jt.png) no-repeat; right: -10px; top: 20px; }
.down-tab-title{ height: 50px; line-height: 60px; border-bottom: solid 1px #cbcbcb; font-size: 16px; color: #333333; }
.down-tab-title button { float: right; margin-top: 21px; width: 18px; height: 18px; background: url(./../../images/home/sprites.png) no-repeat; background-position: -33px -296px;}
.tab-single-down,.tab-single-up{ position: relative; }
.tab-single-input{ margin: 10px 0; }
.tab-single-input span.user-mess-explain{ width: 60px; margin-right: 15px; text-align: right;}
.tab-single-input button{ float: left; margin-left: 30px; height: 30px; background: url(./../../images/home/sprites.png) no-repeat;}
.tab-single-input button.same{ background-position: 0 -571px; width: 33px; }
.tab-single-input button.up-tj{ background-position: 0 -635px; width: 30px;}
.tab-single-input button.qs-left{ background-position: 0 -699px; width: 30px; }
.tab-single-input button.same.on{ background-position: 0 -539px; }
.tab-single-input button.up-tj.on{ background-position: 0 -603px;}
.tab-single-input button.qs-left.on{ background-position: 0 -667px; }
.ten-ton-title{ height: 14px;  line-height: 14px; text-align: center; color: #333333; }
.zhu-pic-box{ position: relative; width:390px; height:150px; }
.zhu-pic-explain{ position: absolute; top: 50px; left: 150px; height: 106px; width: 230px; background: #fff; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.zhu-pic-box img{ text-align: center;  margin: 0 auto; display: block;}
.zhu-pic-explain span.left-jt { position: absolute; background: url(./../../images/home/left-jt.png) no-repeat; width: 10px; height: 19px; left: -10px; top: 12px;}
.zhu-pic-title{ height: 40px;  line-height: 40px; margin:0 15px; color: #333; border-bottom: solid 1px #cbcbcb; font-size: 14px; margin-bottom: 15px;}
.zhu-pic-small-title{ padding-left: 15px; margin-bottom: 13px; height: 12px; line-height: 12px; color: #4579c0; font-size: 12px;}
.ten-color{ height: 14px; text-align: center; }
.ten-color span{ display: inline-block; height: 14px; line-height: 14px; font-size: 12px; color: #4579c0;}
.ten-color span i{ float: left; width: 14px; height: 14px; background: #4579c0; margin-right: 8px; }
.up-tab-box{display:none; position: absolute;  font-family: "微软雅黑"; width: 410px; height: 285px; top: -230px; left: -432px; border-radius: 5px; background: #fff; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.up-tab-box span.tab-right-jt{ display: block; position: absolute; width: 10px; height: 18px; background: url(./../../images/home/right-jt.png) no-repeat; right: -10px; top: 250px; }
.have-margin{ margin: 0 20px 20px 20px; }
.last-single-input{ padding: 0 20px; }
.tab-single-input span.last-mess-explain{ text-align: left; width: 50px; margin: 0; }
.second-input-box-up{ float: right; }
.timer-box{ float: left; width: 100px; }
.timer-box-ipnut{ width: 100%; height: 100%; font-size: 12px; color: #333; cursor: pointer; padding: 0 30px 0 10px;  height: 30px; line-height: 30px; background: #edf3fd url(./../../images/home/timer.png) no-repeat 92% center; border-radius: 5px;}
.table-box{ overflow-x: auto; border-radius: 5px;  font-family: "微软雅黑"; margin: 0 20px;}
.table-box-header{ }
.table-box table.table-box-header th{ font-weight: normal; background: #edf3fd; width: 110px; padding-left: 30px; text-align: left; color: #333; height: 30px; line-height: 30px; font-size: 12px; }
.table-box table.table-box-header th span{ float: left; height: 30px; line-height: 30px; color: #333; font-size: 12px; }
.table-box table.table-box-header th span.up-down-btn{ margin:4px 0 0 5px; width: 7px; height: 22px;}
.table-box table.table-box-header th span.up-down-btn button{ float: left; width: 7px; height: 9px; background: url(./../../images/home/sprites.png) no-repeat; }
.table-box table.table-box-header th span.up-down-btn button.up{ background-position: -35px -731px; margin-bottom: 4px;}
.table-box table.table-box-header th span.up-down-btn button.down{ background-position: -43px -731px; }
.even{ background: #edf3fd; }
.odd{ background: #fff; }
.in-table-box{ height: 120px; overflow-y:auto; overflow-x:hidden;}
.in-tabel-body{ }
.in-table-box table.in-tabel-body td{ width: 110px; text-align: left; height: 30px; line-height: 30px; padding-left: 30px; color: #4579bf; font-size: 14px; }
.in-table-box table.in-tabel-body tr{ cursor: pointer; }
.in-table-box table.in-tabel-body tr.click-on{ background: #457dc2; color: #fff;}
.in-table-box table.in-tabel-body tr.click-on td{ color: #fff;}
.in-table-box table.in-tabel-body tr:hover{ background: #457dc2; }
.in-table-box table.in-tabel-body tr:hover td{ color: #fff; }
.in-table-box table.in-tabel-body tr.highlight{ background: #457dc2; }
.in-table-box table.in-tabel-body tr.highlight td { color: #fff; }

.view-bar-box{ position: absolute; top: 44px; right: 0px; display: none; width: 140px; background: #fff; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.view-bar-box span.up-jt{ position: absolute; top: -12px; right: 25px; width: 24px; height: 12px; background: url(./../../images/home/up-jt.png) no-repeat;}
.view-bar-box button{ width: 100%; height: 40px; text-align: left; font-size: 14px; color: #333; line-height: 40px; /*margin-bottom: 20px; */}
.view-bar-box button.ranging {/* margin-top: 10px;*/ }
.view-bar-box button i{ float: left; width: 20px; height: 20px; margin: 10px 15px 0 20px; position: relative; }
.view-bar-box button i em{ display: inline-block; background: url(./../../images/home/sprites.png) no-repeat; position: absolute; margin: auto; top: 0; right: 0; left: 0; bottom: 0; }
.view-bar-box button.ranging i em{ background-position: 0 -790px; width: 26px; height: 21px; }
.view-bar-box button:hover { background: #4579c0; color: #fff;}
.view-bar-box button.ranging:hover i em{ background-position: 0px -814px;}
.view-bar-box button.surface i em{ background-position: -0px -838px; width: 26px; height: 22px;}
.view-bar-box button.surface:hover i em{ background-position: -0px -866px;}
.view-bar-box button.draw-point i em{ background-position: 1px -889px; width: 26px; height: 20px; }
.view-bar-box button.draw-point:hover i em{ background-position: 1px -911px;}

.edit-bar-box{ position: absolute; top: 44px; right: 0px; display: none; width: 140px; background: #fff; border-radius: 5px; box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);}
.edit-bar-box span.up-jt{ position: absolute; top: -12px; right: 25px; width: 24px; height: 12px; background: url(./../../images/home/up-jt.png) no-repeat;}
.edit-bar-box button{ width: 100%; height: 40px; text-align: left; font-size: 14px; color: #333; line-height: 40px; /*margin-bottom: 20px; */}
.edit-bar-box button.ranging {/* margin-top: 10px;*/ }
.edit-bar-box button i{ float: left; width: 20px; height: 20px; margin: 10px 15px 0 20px; position: relative; }
.edit-bar-box button i em{ display: inline-block; background: url(./../../images/home/sprites.png) no-repeat; position: absolute; margin: auto; top: 0; right: 0; left: 0; bottom: 0; }
.edit-bar-box button.add i em{ background-position: 0 -962px; width: 28px; height: 24px; }
.edit-bar-box button:hover { background: #4579c0; color: #fff;}
.edit-bar-box button.add:hover i em{ background-position: -28px -962px;}
.edit-bar-box button.edit i em{ background-position: 2px -992px; width: 26px; height: 22px;}
.edit-bar-box button.edit:hover i em{ background-position: -26px -992px;}
.edit-bar-box button.save i em{ background-position: 2px -1022px; width: 28px; height: 20px; }
.edit-bar-box button.save:hover i em{ background-position: -26px -1022px;}

#toolbar{width: 100%; height: 35px; line-height: 35px; background: url(./../../images/home/map-title-bg.png); z-index: 999;position: relative;font-family:'宋体';}

#map-tools{ /* position: absolute; right: 0; padding: 5px 5px 0 0; */}
#map-3dtools{ position: absolute; right: 0; padding: 5px 5px 0 0;}
.map-tool li{ float: left; height: 26px; line-height: 26px; margin: 0 1px; padding: 0 5px;}
/*.map-tool li:hover{ background: #fff; border: 1px solid #ddd; cursor: pointer;height: 26px; line-height: 26px; margin: -1px 0px;}*/
.map-tool li span{ margin-left: 2px;}
.map-tool li i{ float: left; width: 14px; height: 100%; display: inline-block; background: url(./../../images/home/map_tool.png) no-repeat;}
.map-tool li .tools i{height: 20px;}
.map-tool li.fore1 i{ background-position: 0 -12px;}
.map-tool li.fore2 i{ background-position: 0 -45px;}
.map-tool li.fore3 i{ background-position: 0 -77px;}
.map-tool li.fore4 i{ background-position: 0 -112px;}
.map-tool li.fore5 i{ background-position: 0 -144px;}
.map-tool li.fore6 i{ background-position: 0 -176px;}
.map-tool li.fore7 i{ background-position: 0 -208px;}
.map-tool li.fore8 i{ background-position: 0 -240px;}
.map-tool li.fore9 i{ background-position: 0 -272px;}
.map-tool li .fore10 i{ background-position: 0 -333px;}
.map-tool li .fore11 i{ background-position: 0 -364px;}
.map-tool li .fore12 i{ background-position: 0 -398px;}
.map-tool li .fore13 i{ background-position: 0 -429px;}
.map-tool li .fore14 i{ background-position: 0 -462px;}
.map-tool li .fore15 i{ background-position: 0 -493px;}
.map-tool li.fore3{ position: relative;}

.map-tool .fore01 i{ background-position: 0 -12px;}
.map-tool .fore02 i{ background-position: 0 -45px;}
.map-tool li .view i{height: 20px;}
.map-tool li.fore0{ position: relative;}
.map-tool li.fore0:hover{ background: none; border: none; margin: 0 1px;}
.map-tool li.fore0:hover .view{ display: block;}
.map-tool li.fore0 span{ float: left;}
.map-tool li.fore0 b{ float: left; width: 12px; height: 12px; margin: 8px 0 0 2px; display: inline-block; background: url(./../../images/home/arrow-d-b.png) no-repeat;}
.map-tool li.fore0 .view{ position: absolute; left: -10px; top: 24px; background: #fff; border: 1px solid #ddd; display: none;z-index: 99999;width: 100px;}
.map-tool li.fore0 .view div{ height: 24px; line-height: 24px; padding: 0 10px;width: 100%;}
.map-tool li.fore0 .view div span{ float: left; display: inline-block;}
.map-tool li.fore0 .view div:hover{ background: #eee;}
.map-tool li.fore8{ position: relative;}
.map-tool li.fore8:hover{ background: none; border: none; margin: 0 1px;}
.map-tool li.fore8:hover .tools{ display: block;}
.map-tool li.fore8 span{ float: left;}
.map-tool li.fore8 b{ float: left; width: 12px; height: 12px; margin: 8px 0 0 2px; display: inline-block; background: url(./../../images/home/arrow-d-b.png) no-repeat;}
.map-tool li.fore8 .tools{ position: absolute; left: 0; top: 24px; background: #fff; border: 1px solid #ddd; display: none;z-index: 99999;}
.map-tool li.fore8 .tools div{ height: 24px; line-height: 24px; padding: 0 10px;width: 100%;}
.map-tool li.fore8 .tools div span{ float: left; display: inline-block;}
.map-tool li.fore8 .tools div:hover{ background: #eee;}

.map-tool li.fore5{ position: relative;}
.map-tool li.fore5:hover{ background: #ffffff;  border: 1px solid #ddd; margin: -1 0px;}
.map-tool li.fore5:hover .measLength{ display: block;}
.map-tool li.fore5 span{ float: left;}
.map-tool li.fore5 b{ float: left; width: 12px; height: 12px; margin: 8px 0 0 2px; display: inline-block; background: url(./../../images/home/arrow-d-b.png) no-repeat;}
.map-tool li.fore5 .measLength{ position: absolute; left: 0; top: 24px; background: #fff; border: 1px solid #ddd; display: none;z-index: 99999;}
.map-tool li.fore5 .measLength div{ height: 24px; line-height: 24px; padding: 0 10px;width: 84px;}
.map-tool li.fore5 .measLength div span{ float: left; display: inline-block;}
.map-tool li.fore5 .measLength div:hover{ background: #eee;}

.map-tool li.fore6{ position: relative;}
.map-tool li.fore5:hover{ background: #ffffff;  border: 1px solid #ddd; margin: -1 0px;}
.map-tool li.fore6:hover .measArea{ display: block;}
.map-tool li.fore6 span{ float: left;}
.map-tool li.fore6 b{ float: left; width: 12px; height: 12px; margin: 8px 0 0 2px; display: inline-block; background: url(./../../images/home/arrow-d-b.png) no-repeat;}
.map-tool li.fore6 .measArea{ position: absolute; left: 0; top: 24px; background: #fff; border: 1px solid #ddd; display: none;z-index: 99999;}
.map-tool li.fore6 .measArea div{ height: 24px; line-height: 24px; padding: 0 10px;width: 84px;}
.map-tool li.fore6 .measArea div span{ float: left; display: inline-block;}
.map-tool li.fore6 .measArea div:hover{ background: #eee;}
.map-tool li.active{ background: #fff; border: 1px solid #ddd; cursor: pointer;height: 26px; line-height: 26px; margin: -1px 0px;}
