<!--               
<div id="indentify-popup" class="ol-popup">
    <a href="#" id="indentify-popup-closer" class="ol-popup-closer"></a>
    <div id="indentify-popup-content" style="width: 300px; height: 120px;">
    </div>
</div>
-->
<div class="popup" style="height: 100%;" id="pop-identify">
    <div class="popup-tit">
        <h3 title='查询结果'>查询结果</h3>
        <a title='关闭' href="javascript:void(0);" id="btnIndentifyClose">关闭</a>
    </div>
    <div class="popup-con" style="padding: 4px;">

        <div class="pop-identify-split"></div>

        <div id="popup-identify-content" style="/*padding: 5px;*/ height: 60px; overflow: auto;">
            <div id="pop-identify-feature">
            </div>
            <div id="identify-popupAttr">
                <table class="identify-table" id="identify-popupAttr-table" style="font-size:13px;">
                </table>

            </div>
        </div>
    </div>
</div>
