<ul class="user-toolbar">
   <li id="tool-indentify">
		<a class="indentify-btn-a" href="#">
			<i class="indentify"></i>
			信息查询
		</a>		
	</li>
	<li>
		<a class="edit-btn-a disabled" href="#">
			<i class="edit"></i>
			数据编辑
		</a>
		<div class="edit-bar-box">
			<span class="up-jt"></span>
			<button class="add" id="tool-add">
				<i><em></em></i>
				新增
			</button>
			<button class="edit" id="tool-edit">
				<i><em></em></i>
				修改
			</button>
			<button class="save" id="tool-save">
				<i><em></em></i>
				保存
			</button>
		</div>
	</li>
	<li>
		<a class="exp-report-a" href="#">
			<i class="exp-report"></i>
			生成报告
		</a>
	</li>
	<li id="tool-clearAll">
		<a href="#">
			<i class="clear-screen"></i>
			清屏
		</a>
	</li>
	<li>
		<a class="fix-btn-a" id="tool-btn-a" href="#">
			<i class="fix"></i>
			工具
		</a>
		<div class="fix-bar-box" id="tool-bar-box">
			<span class="up-jt"></span>
			<button class="ranging" id="tool-measureLength">
				<i><em></em></i>
				测距
			</button>
			<button class="surface" id="tool-measureArea">
				<i><em></em></i>
				测面
			</button>
			<button class="draw-point" id="tool-drawPoint">
				<i><em></em></i>
				画点
			</button>
			<button class="multil" id="tool-drawPolygon">
				<i><em></em></i>
				多边
			</button>
			<button class="remover-clear-btn" id="Button1">
				<i><em></em></i>
				清除
			</button>
		</div>
	</li>	
</ul>
